body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

header {
  height: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}

section {
  height: 100%;
}

h1, dt {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
}
span {
  color: #666666;
}

h2, dd {
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-size: 10px;
}
h2:first-letter: {
  opacity: 0.2;
}

dt,
dd {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  position: relative;
  color: #333333;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: #aaa;
}

a:hover::before {
  opacity: 1;
}

.canvas-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 10px solid black;
}

#container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
